::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Alegreya', serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  margin: 0;
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1113px;
}

h1,
h2,
h3,
p {
  margin: 0;
}
