:root {
  --main: #0a1d37;
  --bcgDark: #f3f5f6;
  --bcgLight: #f7f8f9;
  --bcgLight2: #f5f7f8;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Spectral', serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Spectral', serif;
  font-weight: 400;
  margin: 0;
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1113px;
}

h1,
h2,
h3,
p {
  margin: 0;
}
