:root {
  --main: #0a1d37;
  --bcgDark: #f3f5f6;
  --bcgLight: #f7f8f9;
  --bcgLight2: #f5f7f8;
  --input: #ededed;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Spectral', serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Spectral', serif;
  font-weight: 400;
  margin: 0;
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1113px;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--main);
  animation: spinner 0.6s linear infinite;
}

.alert {
  position: relative;
  margin-top: 10px;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;

  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
